<script>
import useVuelidate from '@vuelidate/core'
import {required, minLength} from '@vuelidate/validators'
import axios from 'axios';

export default {
    name: 'PostFormAxios',
    data() {
        return {
            v$: useVuelidate(),
            form: {
                text: '',
                password: '',
                longText: '',
            },
            submitted: false
        }
    },
    validations() {
        return {
            form: {
                text: {
                    required
                },
                password: {
                    required,
                    min: minLength(6)
                },
                longText: {
                    required
                },
            },
        }
    },
    methods: {
        submit() {
            let urls = [
                'https://tapptic-test-viktor.free.beeceptor.com',
                'https://tapptic-test-viktor.free.beeceptor.com/error'
            ];

            this.v$.$validate();

            if (!this.v$.$error) {
                axios.post(urls[Math.floor(Math.random() * urls.length)], this.form)
                    .then((res) => {
                        this.$toast.success(res.data.status);

                        this.v$.$reset();
                        this.form = {
                            text: '',
                                password: '',
                                longText: '',
                        };
                    })
                    .catch((error) => {
                        this.$toast.error(error.response.data.status);
                    });
            }

        }
    }
}

</script>

<template>
    <main>
        <div class="container mt-5">
            <div class="row">
                <div class="col">
                    <form @submit.prevent="submit">
                        <!-- First and Last Name Row -->
                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-group">
                                    <label for="">Text</label>
                                    <input class="form-control mt-2" placeholder="Enter text" type="text" v-model="v$.form.text.$model">

                                    <div class="input-errors" v-for="(error, index) of v$.form.text.$errors" :key="index">
                                        <div class="text-danger">{{ error.$message }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-group">
                                    <label for=""> Password</label>
                                    <input class="form-control mt-2" placeholder="Password" type="password" v-model="v$.form.password.$model">
                                    <div class="pre-icon os-icon os-icon-fingerprint"></div>
                                    <!-- Error Message -->
                                    <div class="input-errors" v-for="(error, index) of v$.form.password.$errors" :key="index">
                                        <div class="text-danger">{{ error.$message }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-group">
                                    <label for="">Long text</label>
                                    <textarea class="form-control mt-2" placeholder="Enter long text" type="text" rows="5"
                                              v-model="v$.form.longText.$model"></textarea>
                                    <!-- Error Message -->
                                    <div class="input-errors" v-for="(error, index) of v$.form.longText.$errors" :key="index">
                                        <div class="text-danger">{{ error.$message }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="buttons-w mt-3">
                            <button class="btn btn-primary">Submit</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </main>
</template>
